<nav>
    <h2>Navigation</h2>
    <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li> 
        <li><a href="{{ .Site.BaseURL }}about/">About</a></li> 
        <li><a href="{{ .Site.BaseURL }}posts/">Posts</a></li> 
        <li><a href="{{ .Site.BaseURL }}projects/">Projects</a></li> 
    </ul>
    <h2>Contact</h2>
    <ul>
        <li id="mail"><img src="{{ .Site.BaseURL }}images/mail-filler.svg" alt="Email Address" title="Email Address" width="119" height="14"></li>
    </ul>
    <h2>Links</h2>
    <ul>
        <li><a href="https://github.com/sjp" class="github-link">GitHub/sjp</a></li>
    </ul>
</nav>
