#!/usr/bin/env ruby

preprocess do
  # items may be unpublished by adding attribute publish: false
  items.delete_if { |item| item[:publish] == false }
end

compile '/files/*' do
  #
end

compile '/fonts/*' do
  #
end

compile '/images/*' do
  #
end

compile 'scripts/*' do
  #
end

compile 'styles/*' do
  #
end

compile 'robots' do
  #
end

compile 'sitemap' do
  filter :erb
end

compile '*' do
  filter :erb
  layout 'default'
end

route '/sitemap/' do
  '/sitemap.xml'
end

route '/robots/' do
  '/robots.txt'
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    # Place each file in its own directory
    rep.item.identifier + 'index.html'
  end
end

layout '*', :erb
