#!/usr/bin/env ruby

preprocess do
  # items may be unpublished by adding attribute publish: false
  items.delete_if { |item| item[:publish] == false }
end

compile 'favicon' do
  #
end

compile 'feed' do
  filter :erb
end

compile '/files/*' do
  #
end

compile '/fonts/*' do
  #
end

compile '/images/*' do
  #
end

compile 'opensearch' do
  #
end

compile 'robots' do
  #
end

compile 'scripts/*' do
  #
end

compile 'sitemap' do
  filter :erb
end

compile 'styles/*' do
  #
end

compile '*' do
  if not item.binary?
    filter :erb
    layout 'default_html5'
  end
end

route '/404/' do
  '/404.html'
end

route '/favicon/' do
  '/favicon.ico'
end

route '/feed/' do
  '/feed.xml'
end

route '/offline/' do
  '/offline.html'
end

route '/opensearch/' do
  '/opensearch.xml'
end

route '/robots/' do
  '/robots.txt'
end

route '/sitemap/' do
  '/sitemap.xml'
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    # Place each file in its own directory
    rep.item.identifier + 'index.html'
  end
end

layout '*', :erb
