<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
    {{ block "header" . }}{{ end }}
    <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    <input type="checkbox" id="theme-toggle">
    <script>
        try {
            if (localStorage.getItem('themePreference') === 'alternate') {
                document.getElementById('theme-toggle').checked = true;
            }
        } catch (e) {}
    </script>
    <script async src="/scripts/site.js"></script>
    <div id="page">
    {{ partial "sidebar.html" . }}
        <div class="content container">
            {{ block "content" . }}{{ end }}
        </div>
        {{ block "footer" . }}{{ end }}
    </div>
    </body>
</html>
