@import "compass/reset";

$sjp-blue: #005FA1;
$warning-yellow: #FFFBE6;
$warning-border: #FFDC26;

$body-fonts: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
$mono-fonts: Inconsolata, Consolas, monospace;

$main-font-size: 14px;
$main-line-height: 20px;
$mono-font-size: 16px;

body {
  padding: 0;
  margin: 0;
  font-family: $body-fonts;
  background: #fff;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: $sjp-blue;
  }
  &:link:after, &:visited:after {
    content: " (" attr(href) ") ";
  }
  &:hover {
    text-decoration: underline;
  }
  img {
    border: none;
  }
}

article {
  width: 600px;
  h1 {
    font-size: $main-line-height * 2;
    font-weight: normal;
    line-height: $main-line-height * 2;
    letter-spacing: -1px;
  }
  p {
    margin: $main-line-height 0;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-align: justify;
  }
  ul {
    margin: $main-line-height;
    padding: 0 0 0 $main-line-height;
  }
  li {
    font-size: $main-font-size;
    line-height: $main-line-height;
    list-style-type: square;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
  }
  h2 {
    margin: $main-line-height 0;
    font-size: $main-font-size;
    font-weight: bold;
    line-height: $main-line-height;
    text-align: justify;
  }
  h3 {
    display: inline;
    font-size: $main-font-size;
    line-height: $main-line-height;
    font-weight: bold;
    text-align: justify;
  }
  label {
    display: block;
  }
}

.warning {
  background-color: $warning-yellow;
  border: 1px solid $warning-border;
  padding: 5px;
}

img.nav-icon {
  /* The following positioning looks good for
     a 16x16 icon */
  position: relative;
  top: 3px;
  display: inline-block;
  padding-left: 5px;
  margin: 0;
}

nav {
  display: none;
}

header .post-date {
  display: block;
  margin-top: 10px;
  font-size: $main-font-size;
  line-height: $main-line-height;
  text-align: justify;
}

li .post-date {
  float: right;
}

footer a:after {
  display: none;
}
