@import "normalize/normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

$small-navbar-width: 220px;

body {
  @include outer-container;
  margin-left: 0;
  min-width: em(320);
}

article {
  @include media(min-width em(641)) {
    @include span-columns(8);
    margin-top: em(40);
  }

  @include media(max-width em(640), 8) {
    @include transition(all .25s linear);
    @include span-columns(8);
  }

  @include omega();
  @include pad(0 default);

  p {
    text-align: justify;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  img, svg, canvas, object[type="image/svg+xml"] {
    box-shadow: em(5) em(5) em(10) 0 #888;
    margin: em(20) auto;
  }
}

footer {
  border-top: em(1) solid #ccc;
  padding-top: em(20);
  margin-top: em(20);
}

nav {
  @include media(min-width em(641)) {
    @include span-columns(4);
    @include omega();
    text-align: right;
    margin-top: em(40);
    border-right: em(1) solid #ccc;
    @include pad(0 default);

    > h2 {
      text-transform: uppercase;
      font-size: em(16);

      &:first-child {
        margin-top: em(20);
      }
    }

    > ul {
      margin-bottom: em(30);

      &:last-child {
        margin-bottom: em(20);
      }
    }

    img {
      display: inline-block;
    }
  }

  @include media(max-width em(640)) {
    @include position(fixed, 0px auto 0px 0px);
    @include size(em(220) 100%);
    @include transform(translateX(-$small-navbar-width));
    @include transition(all .25s linear);
    z-index: 999999; // really want this to be on top
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    background-color: #202020;
    color: #a4a4a4;

    line-height: $base-font-size * 2.5;

    > h2 {
      text-transform: uppercase;
      font-size: em(16);
      margin-top: 2em;
      padding: 0 1em;
    }

    a {
      display: block;
      color: #FFF;
      background-color: #303030;
      border-top: em(1) solid #444;
      padding: 0 1em;
      width: 100%;

      &:hover {
        background-color: lighten(#303030, 20%);
        color: #FFF;
      }
    }

    ul {
      border-bottom: em(1) solid #444;
      margin: 0.75em 0;
    }

    .nav-icon {
      display: none;
    }
  }
}

@include media(min-width em(641)) {
  .navbar-button {
    display: none;
  }
}

@include media(max-width em(640)) {
  .navbar-button {
    @include user-select(none);
    float: left;
    padding: 0.5rem 0.65rem;
    color: #505050;
    border: em(1) solid #505050;
    border-radius: em(4);
    cursor: pointer;
    width: 2.25em;
    margin: 0.7em 0.7em 0 0.3em;
  }
  
  .navbar-button:before {
    display: block;
    content: "";
    width: 100%;
    padding-bottom: .125rem;
    border-top: .375rem double;
    border-bottom: .125rem solid;
  }
}

code {
  font-family: $mono-fonts;
  background-color: #F8F8F8;
  border: em(1) solid #DEDEDE;
  padding: em(4) em(2);
}

code a {
  color: #005fa1;
}

.highlight code, .highlight span {
  display: inline-block;
  font-family: $mono-fonts;
  line-height: $base-font-size * 1.2;
  border: 0;
  margin: 0;
}

div.highlight pre {
  margin: 0;
  background-color: #F8F8F8;
  border: em(1) solid #DEDEDE;
}

div.highlight {
  margin: em(20) 0;
}

li .post-date {
  @include media(em(641)) {
    float: right;
  }
  @include media(max-width em(640)) {
    &::before {
        content: " — "
    }
  }
}

header .post-date {
  display: inline-block;
  margin-bottom: em(20);
}

.nav-icon {
  position: relative;
  display: inline-block;
  top: em(3);
  margin: 0 0 0 em(5) !important;
  border: none;
  transition: none !important;
  box-shadow: none !important;
  height: 1em;
  width: auto;
}

img, svg, canvas, object[type="image/svg+xml"] {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}

a > img {
  @include transition(all 250ms ease-out);
  &:hover, &:focus {
    box-shadow: 0 0 em(10) em(2) rgba(0, 140, 186, 0.5);
  }
}

.notice {
  @extend %flash-notice;
  font-weight: normal;
  border: em(1) solid darken($notice-color, 40%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.2em 0;
}

/* For toggling sidebar on small screens */
#navbar-checkbox {
  display: none;
}

#navbar-checkbox:checked ~ nav {
  @include transform(translateX(0));
}

#navbar-checkbox:checked ~ article {
  @include transform(translateX($small-navbar-width));
}

#navbar-checkbox:checked ~ article .navbar-button {
  color: #fff;
  background-color: #505050; 
}

/* A few page-specific styles */
#rainbow-output {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font: inherit !important;
  font-size: 100% !important;
  background-color: inherit !important;
  vertical-align: baseline !important;
}

#rainbow-input {
  font-family: $mono-fonts;
}

#hidden-gridsvg-code {
  display: none;
  &.is-visible {
    display: block;
  }
}

/**
 * Begin Pygments Classes
 *
 * To get this CSS:
 * 
 * pygmentize -S THEME_NAME -f html
 */

.highlight {
  .hll {
    background-color: #F8F8FF;
  }
  
  .c, .c1, .cm, .go {
    color: #888888;
  }
  
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  
  .cp {
    font-weight: bold;
    color: #cc0000;
  }
  
  .cs {
    font-weight: bold;
    color: #cc0000;
    background-color: #fff0f0;
  }
  
  .gd {
    color: #000000;
    background-color: #ffdddd;
  }
  
  .ge {
    font-style: italic;
  }
  
  .gr, .gt {
    color: #aa0000;
  }
  
  .gh {
    color: #303030;
  }
  
  .gi {
    color: #000000;
    background-color: #ddffdd;
  }
  
  .gp, .nd {
    color: #555555;
  }
  
  .gu {
    color: #606060;
  }
  
  .k, .kc, .kd, .kn, .kp, .kr, .ow {
    color: #008800;
  }
  
  .kt {
    color: #888888;
  }
  
  .na, .nl, .nv, .vc {
    color: #336699;
  }
  
  .bp, .nb {
    color: #003388;
  }
  
  .no {
    color: #003366;
  }
  
  .nf {
    color: #0066bb;
  }
  
  .nc .ne, .nn, .nt {
    color: #bb0066;
  }
  
  .py {
    color: #336699;
  }
  
  .w {
    color: #bbbbbb;
  }
  
  .m, .mf, .mh, .mi, .mo, .id {
    color: #0000DD;
  }
  
  .s, .sb, .sc, .sd, .s2, .sh, .s1 {
    color: #dd2200;
    background-color: #fff0f0;
  }
  
  .se {
    color: #0044dd;
    background-color: #fff0f0;
  }
  
  .si {
    color: #3333bb;
    background-color: #fff0f0;
  }
  
  .sx {
    color: #22bb22;
    background-color: #f0fff0;
  }
  
  .sr {
    color: #008800;
    background-color: #fff0ff;
  }
  
  .ss {
    color: #aa6600;
    background-color: #fff0f0;
  }
  
  .vg {
    color: #dd7700;
  }
  
  .vi {
    color: #3333bb;
  }
}
