<meta charset="utf-8">
<meta name="author" content="{{ site.author }}">
<title>{% unless page.home %}{{ page.title }} | {% endunless %}{{ site.author }}</title>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CInconsolata" media="screen,print">
<link rel="stylesheet" type="text/css" href="/styles/style.min.css" media="screen,projection">
<link rel="stylesheet" type="text/css" href="/styles/print.min.css" media="print">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="alternate" type="application/atom+xml" title="RSS" href="/feed.xml">
<link rel="search" type="application/opensearchdescription+xml" title="Search sjp.co.nz" href="/opensearch.xml">
<!--[if lt IE 9]>
<script type="text/javascript" src="/scripts/html5shiv.min.js"></script>
<![endif]-->
