<meta charset="utf-8">
<meta name="author" content="{{ site.author }}">
<title>{% unless page.home %}{{ page.title }} | {% endunless %}{{ site.author }}</title>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CInconsolata" media="screen,print">
<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen,projection">
<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print">
<link rel="icon" sizes="16x16 32x32" type="image/x-icon" href="/favicon.ico">
<link rel="icon" sizes="192x192" type="image/png" href="/favicon-256.png">
<link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" type="image/png" href="/favicon-256.png">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="alternate" type="application/atom+xml" title="RSS" href="/feed.xml">
<link rel="search" type="application/opensearchdescription+xml" title="Search sjp.co.nz" href="/opensearch.xml">
