<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "header.html" . }}
    </head>
    <body>
        <input type="checkbox" id="navbar-checkbox">
        {{ partial "nav.html" . }}
        <article>
            <header>
                <label for="navbar-checkbox" class="navbar-button"></label>
                <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            <footer>
                <p>&copy;{{ now.Format "2006" }} {{ .Site.Author.name }}</p>
            </footer>
        </article>
        {{ partial "scripts.html" . }}
    </body>
</html>
