<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/fonts/fa.css">
    <link rel="search" type="application/opensearchdescription+xml" title="Search sjp.co.nz" href="https://sjp.co.nz/opensearch.xml">
    {{ partial "header/feeds.html" . }}
    {{ partial "header/custom.html" }}
</head>
