<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    {{ partial "header/meta.html" . }}
    {{ partial "header/styles.html" . }}
    {{ partial "header/preload.html" . }}
    {{ with resources.Get "favicon-256.png" }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ (.Resize "180x180 png").RelPermalink }}">
    {{- end }}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="alternate icon" href="/favicon.ico">
    {{ partial "header/fonts.html" . }}
    <link rel="search" type="application/opensearchdescription+xml" title="Search {{ .Site.Title }}" href="{{ "opensearch.xml" | absURL }}">
    {{ partial "header/feeds.html" . }}
    {{ partial "header/schema.html" . }}
    {{ partial "header/custom.html" }}
</head>
