@font-face {
  font-family: 'InconsolataMedium';
  src: url('/fonts/Inconsolata_e.eot');
  src: local('Inconsolata Medium'), local('Inconsolata'), url('/fonts/Inconsolata_t.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #005fa1;
}

a:link:after,
a:visited:after {
  content: " (" attr(href) ") ";
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

#main {
  width: 550px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main h3 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

#main ul {
  margin: 20px;
}

#main li {
  list-style-type: square;
  font-size: 15px;
  line-height: 20px;
}

#main img {
  max-width: 100%;
}

#sidebar {
  display: none;
}

.post-date {
  float: right;
}

#footer a:after {
  display: none;
}

code {
  background-color: #F8F8FF;
  border: 1px solid #DEDEDE;
  font-family: InconsolataMedium, Consolas, monospace;
}

div.highlight {
  overflow: auto;
}

div.highlight pre {
  font-family: InconsolataMedium, Consolas, monospace;
  background-color: #F8F8FF;
  border: 1px solid #DEDEDE;
  font-weight: normal;
}

div.highlight span {
  font-family: InconsolataMedium, Consolas, monospace;
  font-weight: normal !important; /* needed to override attribute setting to bold */
}
