@font-face {
  font-family: 'InconsolataMedium';
  src: url('/fonts/Inconsolata_e.eot');
  src: local('Inconsolata Medium'), local('Inconsolata'), url('/fonts/Inconsolata_t.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #005fa1;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

#main {
  position: absolute;
  top: 40px;
  left: 280px;
  width: 550px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main h3 {
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}

#main p {
  margin: 20px 0;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

#main ul {
  margin: 20px;
}

#main li {
  list-style-type: square;
  font-size: 15px;
  line-height: 20px;
}

#main img {
  max-width: 100%;
}

#sidebar {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  padding: 20px 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 5px 0 25px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

#footer {
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

.post-date {
  float: right;
}

code {
  background-color: #F8F8FF;
  border: 1px solid #DEDEDE;
  font-family: InconsolataMedium, Consolas, monospace;
}

div.highlight {
  overflow: auto;
}

div.highlight pre {
  font-family: InconsolataMedium, Consolas, monospace;
  background-color: #F8F8FF;
  border: 1px solid #DEDEDE;
  font-weight: normal;
}

div.highlight span {
  font-family: InconsolataMedium, Consolas, monospace;
  font-weight: normal !important; /* needed to override attribute setting to bold */
}
