$body-fonts: 'PT Sans', Times, 'Times New Roman', sans-serif;
$mono-fonts: Inconsolata, Consolas, monospace;

$sjp-blue: #005FA1;

$base-font-family: $body-fonts;
$header-font-family: $base-font-family;

$base-accent-color: $sjp-blue;
