<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title><%= @item[:title] %> | <%= @layout[:domain] %></title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/styles/print.css" media="print">
        <link rel="icon" type="image/png" href="images/favicon.png">
    </head>
    <body>
        <div id="main">
            <h1><%= @item[:alt_title] ? @item[:alt_title] : @item[:title] %></h1>
            <%= yield %>            <div id="footer">
                <p>Last updated on <%= @item.mtime.strftime("%B %d, %Y") %></p>
                <p>&copy;2010 Simon Potter | <a href="http://validator.w3.org/check?uri=referer">Valid HTML 4.01 Strict</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">Valid CSS3</a></p>
            </div>
        </div>
        <div id="sidebar">
            <h2>Navigation</h2>
            <ul><% home_page = @items.find { |i| i.reps[0].path == '/' } %>
                <li><%= link_to(home_page[:title], home_page.reps[0]) %></li><% home_page.children.delete_if { |x| x[:layout] == "none" }.sort { |x,y| x[:title] <=> y[:title] }.each do |page| %> 
                <li><%= link_to(page[:title], page.reps[0]) %></li><% end %> 
            </ul>
            <h2>Contact</h2>
            <ul>
                <li id="mail"><img src="/images/mail_filler.png" alt="email address" width="118" height="14"></li>
            </ul>
            <h2>Links</h2>
            <ul>
                <li><a href="http://github.com/sjp">Me on GitHub</a></li>
                <li><a href="http://steelsky.co.nz/">Cynos</a></li>
                <li><a href="http://frio.name/">Frio</a></li>
                <li><a href="http://vegrandis.blogspot.com/">Vegrandis</a></li>
            </ul>
        </div>
        <script type="text/javascript" src="/scripts/mail.js"></script>
        <script type="text/javascript">var gaJsHost=(("https:"==document.location.protocol)?"https://ssl.":"http://www.");document.write(unescape("%3Cscript src='"+gaJsHost+"google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try{var pageTracker=_gat._getTracker("UA-12917558-1");pageTracker._trackPageview();}catch(err){}</script>
    </body>
</html>
