@import "normalize/normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "sjp/flashes";

body {
  @include outer-container;
}

article {
  @include span-columns(12);
  margin-top: em(40);
  page-break-before: always;

  p {
    text-align: justify;
  }

  ul {
    @extend %default-ul;
    page-break-inside: avoid;
  }

  ol {
    @extend %default-ol;
  }

  a {
    font-weight: bolder;
    text-decoration: none;
  }
}

//a[href^=http]:after, a[href^=https]:after {
a::after {
  content: " (" attr(href) ") ";
}

.MathJax_Display {
  color: #000 !important;
}

footer {
  border-top: em(1) solid #ccc;
  padding-top: em(20);
  margin-top: em(20);
  
  a {
    font-weight: normal;
  }

  a::after {
    content: "" !important;
  }
}

nav, .navbar-button, #navbar-checkbox {
  display: none;
}

textarea {
  line-height: $base-font-size * 1.2;
}

code {
  font-family: $mono-fonts;
  background-color: #F8F8F8;
  border: em(1) solid #DEDEDE;
  padding: em(4) em(2);
}

.highlight code,
.highlight span,
.highlight p {
  display: inline-block;
  font-family: $mono-fonts;
  line-height: $base-font-size * 1.2;
  border: 0;
  margin: 0;
}

.highlight pre {
  margin: 0;
  background-color: #F8F8F8 !important;
  border: em(1) solid #DEDEDE;
  padding: em(1);
}

.highlight {
  margin: em(20) 0;
}

li .post-date {
  &::before {
    content: " — "
  }
}

header .post-date {
  display: inline-block;
  margin-bottom: em(20);
}

img, svg, canvas, video, object[type="image/svg+xml"] {
  margin: 0 auto;
  display: block;
  max-width: 100% !important;
  height: auto;
  page-break-inside: avoid;
}

.notice {
  @extend %flash-notice;
  font-weight: normal;
  border: em(1) solid darken($notice-color, 40%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.2em 0;
  page-break-after: avoid;
}

#rainbow-output {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font: inherit !important;
  font-size: 100% !important;
  background-color: inherit !important;
  vertical-align: baseline !important;
}

#rainbow-input {
  font-family: $mono-fonts;
}
