<!DOCTYPE html>
<html lang="en">
    <head>
        {% include rainbow_header.html %}
    </head>
    <body>
        <article>
            <header>
                <h1>{{ page.title }}</h1>
            </header>
            {{ content }}
            <footer>
                <p>&copy;{{ 'now' | date: "%Y" }} {{ site.author }} | <a href="http://validator.w3.org/check?uri=referer">Valid HTML5</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">Valid CSS3</a></p>
            </footer>
        </article>
        {% include nav.html %}
        {% include rainbow_scripts.html %}
        {% include scripts.html %}
    </body>
</html>
