pre {
  tab-size: 4;
}

%code-font {
  font-family: $code-font-family;
  font-size: $code-font-size;
}

code {
  @extend %code-font;
  padding: 0.1em 0.1em;
  border-radius: 3px;
  background-color: var(--code-background-color);
}
