.chroma {
    padding: 0 10px;
    overflow-x: auto;
    line-height: $code-line-height;

    code {
        background-color: inherit;
    }

    border: 1px solid #ccc;
}

/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }

/* Background */ .chroma { background-color: var(--chroma-bg-color); color: var(--chroma-color); }
/* Other */ .chroma .x { color: var(--chroma-other-color); }
/* Error */ .chroma .err { color: var(--chroma-error-color); }
/* Keyword */ .chroma .k { color: var(--chroma-keyword-color); }
/* KeywordConstant */ .chroma .kc { color: var(--chroma-keyword-constant-color); }
/* KeywordDeclaration */ .chroma .kd { color: var(--chroma-keyword-declaration-color); }
/* KeywordNamespace */ .chroma .kn { color: var(--chroma-keyword-namespace-color); }
/* KeywordPseudo */ .chroma .kp { color: var(--chroma-keyword-pseudo-color) }
/* KeywordReserved */ .chroma .kr { color: var(--chroma-keyword-reserved-color); }
/* KeywordType */ .chroma .kt { color: var(--chroma-keyword-type-color); }
/* Name */ .chroma .n { color: var(--chroma-name-color); }
/* NameAttribute */ .chroma .na { color: var(--chroma-name-attribute-color) }
/* NameBuiltin */ .chroma .nb { color: var(--chroma-name-builtin-color) }
/* NameBuiltinPseudo */ .chroma .bp { color: var(--chroma-name-builtin-pseudo-color) }
/* NameClass */ .chroma .nc { color: var(--chroma-name-class-color); }
/* NameConstant */ .chroma .no { color: var(--chroma-name-constant-color); }
/* NameDecorator */ .chroma .nd { color: var(--chroma-name-decorator-color) }
/* NameEntity */ .chroma .ni { color: var(--chroma-name-entity-color); }
/* NameException */ .chroma .ne { color: var(--chroma-name-exception-color); }
/* NameFunction */ .chroma .nf { color: var(--chroma-name-function-color); }
/* NameFunctionMagic */ .chroma .fm { color: var(--chroma-name-function-magic-color) }
/* NameLabel */ .chroma .nl { color: var(--chroma-name-label-color) }
/* NameNamespace */ .chroma .nn { color: var(--chroma-name-namespace-color); }
/* NameOther */ .chroma .nx { color: var(--chroma-name-other); }
/* NameProperty */ .chroma .py { color: var(--chroma-name-property-color); }
/* NameTag */ .chroma .nt { color: var(--chroma-name-tag-color); }
/* NameVariable */ .chroma .nv { color: var(--chroma-name-variable-color) }
/* NameVariableClass */ .chroma .vc { color: var(--chroma-name-variable-class-color) }
/* NameVariableGlobal */ .chroma .vg { color: var(--chroma-name-variable-global-color) }
/* NameVariableInstance */ .chroma .vi { color: var(--chroma-name-variable-instance-color) }
/* NameVariableMagic */ .chroma .vm { color: var(--chroma-name-variable-magic-color) }
/* Literal */ .chroma .l { color: var(--chroma-literal-color) }
/* LiteralDate */ .chroma .ld { color: var(--chroma-literal-date-color) }
/* LiteralString */ .chroma .s { color: var(--chroma-literal-string-color); }
/* LiteralStringAffix */ .chroma .sa { color: var(--chroma-literal-string-affix-color); }
/* LiteralStringBacktick */ .chroma .sb { color: var(--chroma-literal-string-backtick-color); }
/* LiteralStringChar */ .chroma .sc { color: var(--chroma-literal-string-char-color); }
/* LiteralStringDelimiter */ .chroma .dl { color: var(--chroma-literal-string-delimiter-color); }
/* LiteralStringDoc */ .chroma .sd { color: var(--chroma-literal-string-doc-color); }
/* LiteralStringDouble */ .chroma .s2 { color: var(--chroma-literal-string-double-color); }
/* LiteralStringEscape */ .chroma .se { color: var(--chroma-literal-string-escape-color); }
/* LiteralStringHeredoc */ .chroma .sh { color: var(--chroma-literal-string-heredoc-color); }
/* LiteralStringInterpol */ .chroma .si { color: var(--chroma-literal-string-interpol-color); }
/* LiteralStringOther */ .chroma .sx { color: var(--chroma-literal-string-other-color); }
/* LiteralStringRegex */ .chroma .sr { color: var(--chroma-literal-string-regex-color); }
/* LiteralStringSingle */ .chroma .s1 { color: var(--chroma-literal-string-single-color); }
/* LiteralStringSymbol */ .chroma .ss { color: var(--chroma-literal-string-symbol-color); }
/* LiteralNumber */ .chroma .m { color: var(--chroma-number-color); }
/* LiteralNumberBin */ .chroma .mb { color: var(--chroma-number-bin-color); }
/* LiteralNumberFloat */ .chroma .mf { color: var(--chroma-number-float-color); }
/* LiteralNumberHex */ .chroma .mh { color: var(--chroma-number-hex-color); }
/* LiteralNumberInteger */ .chroma .mi { color: var(--chroma-number-integer-color); }
/* LiteralNumberIntegerLong */ .chroma .il { color: var(--chroma-number-integer-long-color); }
/* LiteralNumberOct */ .chroma .mo { color: var(--chroma-number-oct-color); }
/* Operator */ .chroma .o { color: var(--chroma-operator-color) }
/* OperatorWord */ .chroma .ow { color: var(--chroma-operator-word-color) }
/* Punctuation */ .chroma .p { color: var(--chroma-punctuation-color) }
/* Comment */ .chroma .c { color: var(--chroma-comment-color) }
/* CommentHashbang */ .chroma .ch { color: var(--chroma-comment-hashbang-color) }
/* CommentMultiline */ .chroma .cm { color: var(--chroma-comment-multiline-color) }
/* CommentSingle */ .chroma .c1 { color: var(--chroma-comment-single-color) }
/* CommentSpecial */ .chroma .cs { color: var(--chroma-comment-special-color); }
/* CommentPreproc */ .chroma .cp { color: var(--chroma-comment-preproc-color); }
/* CommentPreprocFile */ .chroma .cpf { color: var(--chroma-comment-preproc-file-color); }
/* Generic */ .chroma .g { color: var(--chroma-generic-color) }
/* GenericDeleted */ .chroma .gd { color: var(--chroma-generic-deleted-color); }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: var(--chroma-generic-error-color) }
/* GenericHeading */ .chroma .gh { color: var(--chroma-generic-heading-color) }
/* GenericInserted */ .chroma .gi { color: var(--chroma-generic-inserted-color); }
/* GenericOutput */ .chroma .go { color: var(--chroma-generic-output-color) }
/* GenericPrompt */ .chroma .gp { color: var(--chroma-generic-prompt-color) }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { color: var(--chroma-generic-subheading-color) }
/* GenericTraceback */ .chroma .gt { color: var(--chroma-generic-traceback-color) }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: var(--chroma-text-whitespace) }

@mixin light-theme-code-variables {
    --chroma-bg-color: #fafafa;
    --chroma-color: var(--body-color);
    --chroma-other-color: inherit;
    --chroma-error-color: #a61717;
    --chroma-keyword-color: #008800;
    --chroma-keyword-constant-color: #008800;
    --chroma-keyword-declaration-color: #008800;
    --chroma-keyword-namespace-color: #B294BB;
    --chroma-keyword-pseudo-color: #008800;
    --chroma-keyword-reserved-color: #008800;
    --chroma-keyword-type-color: #888888;
    --chroma-name-color: inherit;
    --chroma-name-attribute-color: #336699;
    --chroma-name-builtin-color: #003388;
    --chroma-name-builtin-pseudo-color: inherit;
    --chroma-name-class-color: #bb0066;
    --chroma-name-constant-color: #003366;
    --chroma-name-decorator-color: #555555;
    --chroma-name-entity-color: inherit;
    --chroma-name-exception-color: #bb0066;
    --chroma-name-function-color: #0066bb;
    --chroma-name-function-magic-color: inherit;
    --chroma-name-label-color: #336699;
    --chroma-name-namespace-color: #bb0066;
    --chroma-name-other: inherit;
    --chroma-name-property-color: #336699;
    --chroma-name-tag-color: #bb0066;
    --chroma-name-variable-color: #336699;
    --chroma-name-variable-class-color: #336699;
    --chroma-name-variable-global-color: #dd7700;
    --chroma-name-variable-instance-color: #3333bb;
    --chroma-name-variable-magic-color: inherit;
    --chroma-literal-color: inherit;
    --chroma-literal-date-color: inherit;
    --chroma-literal-string-color: #dd2200;
    --chroma-literal-string-affix-color: #dd2200;
    --chroma-literal-string-backtick-color: #dd2200;
    --chroma-literal-string-char-color: #dd2200;
    --chroma-literal-string-delimiter-color: #dd2200;
    --chroma-literal-string-doc-color: #dd2200;
    --chroma-literal-string-double-color: #dd2200;
    --chroma-literal-string-escape-color: #0044dd;
    --chroma-literal-string-heredoc-color: #dd2200;
    --chroma-literal-string-interpol-color: #3333bb;
    --chroma-literal-string-other-color: #22bb22;
    --chroma-literal-string-regex-color: #008800;
    --chroma-literal-string-single-color: #dd2200;
    --chroma-literal-string-symbol-color: #aa6600;
    --chroma-literal-number-color: #0000dd;
    --chroma-literal-number-bin-color: #0000dd;
    --chroma-literal-number-float-color: #0000dd;
    --chroma-literal-number-hex-color: #0000dd;
    --chroma-literal-number-integer-color: #0000dd;
    --chroma-literal-number-integer-long-color: #0000dd;
    --chroma-literal-number-oct-color: #0000dd;
    --chroma-operator-color: inherit;
    --chroma-operator-word-color: #008800;
    --chroma-punctuation-color: inherit;
    --chroma-comment-color: #888888;
    --chroma-comment-hashbang-color: #888888;
    --chroma-comment-multiline-color: #888888;
    --chroma-comment-single-color: #888888;
    --chroma-comment-special-color: #cc0000;
    --chroma-comment-preproc-color: #cc0000;
    --chroma-comment-preproc-file-color: #cc0000;
    --chroma-generic-color: #888888;
    --chroma-generic-deleted-color: #000;
    --chroma-generic-error-color: #aa0000;
    --chroma-generic-heading-color: #333333;
    --chroma-generic-inserted-color: #000000;
    --chroma-generic-output-color: inherit;
    --chroma-generic-prompt-color: #555555;
    --chroma-generic-subheading-color: #666666;
    --chroma-generic-traceback-color: #aa0000;
    --chroma-text-whitespace: #bbbbbb;
}

@mixin dark-theme-code-variables {
    --chroma-tn-background: #1d1f21;
    --chroma-tn-current-line: #282a2e;
    --chroma-tn-selection: #373b41;
    --chroma-tn-foreground: #c5c8c6;
    --chroma-tn-comment: #969896;
    --chroma-tn-red: #cc6666;
    --chroma-tn-orange: #de935f;
    --chroma-tn-yellow: #f0c674;
    --chroma-tn-green: #b5bd68;
    --chroma-tn-aqua: #8abeb7;
    --chroma-tn-blue: #81a2be;
    --chroma-tn-purple: #b294bb;
    
    --chroma-bg-color: var(--chroma-tn-background);
    --chroma-color: var(--chroma-tn-foreground);
    --chroma-other-color: var(--chroma-tn-foreground);
    --chroma-error-color: var(--chroma-tn-red);
    --chroma-keyword-color: var(--chroma-tn-purple);
    --chroma-keyword-constant-color: var(--chroma-tn-purple);
    --chroma-keyword-declaration-color: var(--chroma-tn-purple);
    --chroma-keyword-namespace-color: var(--chroma-tn-aqua);
    --chroma-keyword-pseudo-color: var(--chroma-tn-purple);
    --chroma-keyword-reserved-color: var(--chroma-tn-purple);
    --chroma-keyword-type-color: var(--chroma-tn-yellow);
    --chroma-name-color: var(--chroma-tn-foreground);
    --chroma-name-attribute-color: var(--chroma-tn-blue);
    --chroma-name-builtin-color: var(--chroma-tn-foreground);
    --chroma-name-builtin-pseudo-color: var(--chroma-tn-foreground);
    --chroma-name-class-color: var(--chroma-tn-yellow);
    --chroma-name-constant-color: var(--chroma-tn-red);
    --chroma-name-decorator-color: var(--chroma-tn-aqua);
    --chroma-name-entity-color: var(--chroma-tn-foreground);
    --chroma-name-exception-color: var(--chroma-tn-red);
    --chroma-name-function-color: var(--chroma-tn-blue);
    --chroma-name-function-magic-color: var(--chroma-tn-blue);
    --chroma-name-label-color: var(--chroma-tn-foreground);
    --chroma-name-namespace-color: var(--chroma-tn-yellow);
    --chroma-name-other: var(--chroma-tn-blue);
    --chroma-name-property-color: var(--chroma-tn-foreground);
    --chroma-name-tag-color: var(--chroma-tn-aqua);
    --chroma-name-variable-color: var(--chroma-tn-red);
    --chroma-name-variable-class-color: var(--chroma-tn-red);
    --chroma-name-variable-global-color: var(--chroma-tn-red);
    --chroma-name-variable-instance-color: var(--chroma-tn-red);
    --chroma-name-variable-magic-color: var(--chroma-tn-red);
    --chroma-literal-color: var(--chroma-tn-orange);
    --chroma-literal-date-color: var(--chroma-tn-green);
    --chroma-literal-string-color: var(--chroma-tn-green);
    --chroma-literal-string-affix-color: var(--chroma-tn-green);
    --chroma-literal-string-backtick-color: var(--chroma-tn-green);
    --chroma-literal-string-char-color: var(--chroma-tn-foreground);
    --chroma-literal-string-delimiter-color: var(--chroma-tn-green);
    --chroma-literal-string-doc-color: var(--chroma-tn-comment);
    --chroma-literal-string-double-color: var(--chroma-tn-green);
    --chroma-literal-string-escape-color: var(--chroma-tn-orange);
    --chroma-literal-string-heredoc-color: var(--chroma-tn-green);
    --chroma-literal-string-interpol-color: var(--chroma-tn-orange);
    --chroma-literal-string-other-color: var(--chroma-tn-green);
    --chroma-literal-string-regex-color: var(--chroma-tn-green);
    --chroma-literal-string-single-color: var(--chroma-tn-green);
    --chroma-literal-string-symbol-color: var(--chroma-tn-green);
    --chroma-literal-number-color: var(--chroma-tn-orange);
    --chroma-literal-number-bin-color: var(--chroma-tn-orange);
    --chroma-literal-number-float-color: var(--chroma-tn-orange);
    --chroma-literal-number-hex-color: var(--chroma-tn-orange);
    --chroma-literal-number-integer-color: var(--chroma-tn-orange);
    --chroma-literal-number-integer-long-color: var(--chroma-tn-orange);
    --chroma-literal-number-oct-color: var(--chroma-tn-orange);
    --chroma-operator-color: var(--chroma-tn-aqua);
    --chroma-operator-word-color: var(--chroma-tn-aqua);
    --chroma-punctuation-color: var(--chroma-tn-foreground);
    --chroma-comment-color: var(--chroma-tn-comment);
    --chroma-comment-hashbang-color: var(--chroma-tn-comment);
    --chroma-comment-multiline-color: var(--chroma-tn-comment);
    --chroma-comment-single-color: var(--chroma-tn-comment);
    --chroma-comment-special-color: var(--chroma-tn-comment);
    --chroma-comment-preproc-color: var(--chroma-tn-comment);
    --chroma-comment-preproc-file-color: var(--chroma-tn-comment);
    --chroma-generic-color: var(--chroma-tn-foreground);
    --chroma-generic-deleted-color: var(--chroma-tn-red);
    --chroma-generic-error-color: var(--chroma-tn-foreground);
    --chroma-generic-heading-color: var(--chroma-tn-foreground);
    --chroma-generic-inserted-color: var(--chroma-tn-green);
    --chroma-generic-output-color: var(--chroma-tn-foreground);
    --chroma-generic-prompt-color: var(--chroma-tn-comment);
    --chroma-generic-subheading-color: var(--chroma-tn-aqua);
    --chroma-generic-traceback-color: var(--chroma-tn-foreground);
    --chroma-text-whitespace: var(--chroma-tn-foreground);
}

// default to light theme
:root {
    @include light-theme-code-variables;

    #theme-toggle:checked ~ #page {
        @include dark-theme-code-variables;
    }

    @media (prefers-color-scheme: dark) {
        @include dark-theme-code-variables;

        #theme-toggle:checked ~ #page {
            @include light-theme-code-variables;
        }
    }

    @media (prefers-color-scheme: light) {
        @include light-theme-code-variables;

        #theme-toggle:checked ~ #page {
            @include dark-theme-code-variables;
        }
    }
}

#rainbow-output {
    background-color: inherit;
}