@use "variables";

pre {
  tab-size: 4;
  overflow-x: auto;
}

%code-font {
  font-family: variables.$code-font-family;
  font-size: variables.$code-font-size;
}

code {
  @extend %code-font;
  padding: 0.1em 0.1em;
  border-radius: 3px;
  background-color: var(--code-background-color);
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-size: 0.9em;
}
