ul.pagination {
  list-style: none;
  li.page-item {
    display: inline-block;
    a {
      padding: 0.05em 0.4em;
    }
    &.active {
      a {
        color: var(--navigation-color);
        border-bottom: 3px solid var(--navigation-color);
      }
    }
  }
}

.navigation {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 3.75rem;
  a {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .9375rem;
    color: var(--navigation-color);
    border: 2px solid var(--navigation-color);
    line-height: 1.25;
    text-transform: uppercase;
    &:hover {
      padding: .875rem;
      border-width: 3px;
    }
    &:nth-child(2) {
      margin-top: .625rem;
    }
    &:first-child:last-child {
      width: 100%;
    }
  }
  .fa {
    font-size: 0.8rem;
  }
  .navigation-prev {
    text-align: left;
    .fa {
      padding-right: .625rem;
    }
    .navigation-tittle {
      padding-left: .25rem;
    }
  }
  .navigation-next {
    text-align: right;
    .fa {
      padding-left: .625rem;
    }
    .navigation-tittle {
      padding-right: .25rem;
    }
  }
}
.navigation-single a {
  text-transform: none;
}
